@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@* @{
    var selection = Umbraco.Content(Guid.Parse("78d47d39-fdf2-4332-b8c4-9e93fe406716"))
    .ChildrenOfType("homePageServices")
    .Where(x => x.IsVisible());
    }
    @foreach (var item in selection)
    {
    var image = item.Value<IPublishedContent>("HomeServiceImage");

    <div class="col-lg-4">
    <div class="card-service wow fadeInUp">
    <div class="header">

    <img src="@image.Url()" alt="">
    </div>
    <div class="body">
    <h5 class="text-secondary">@item.Value("homeServiceTitle")</h5>
    <p>@item.Value("homeServicedesc")</p>
    <a href="service.html" class="btn btn-primary">Read More</a>
    </div>
    </div>
    </div>
    } *@
    
    
    
@{
	var selection = Umbraco.Content(Guid.Parse("a1e4ce0a-8a7e-423c-980c-e21b63a6d5cd"))
    .ChildrenOfType("homePageServices")
    .Where(x => x.IsVisible());
}
<ul>
	@foreach (var item in selection)
	{
		<li>
			<a href="@item.Url()">@item.Name()</a>
		</li>
	}
</ul>

